/* VENDOR - Default fall-backs and external files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
/* SCSS Files */
/* general styles */ /* colors */
/* shadows, ombres */
/* fonts */
/* general icon styling for proper display */
.hero .container .hero-btn {
  height: 40px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  padding: 0.5em 1.5em;
  border-radius: 40px;
  font: 500 1em "Roboto";
  line-height: 40px;
  box-shadow: 2px 5px 10px rgba(30, 29, 29, 0.2);
}

.list-item {
  width: calc(100% - 12px);
  height: 60px;
  background-color: #f6f6f6;
  border-radius: 15px;
  align-self: flex-end;
  box-shadow: 2px 5px 10px rgba(30, 29, 29, 0.2);
}

/* colors */
/* shadows, ombres */
/* fonts */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

a,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font: 700 1.5em "Roboto";
}

h2 {
  font: 700 1.125em "Roboto";
}

h3 {
  font: 300 1.0625em "Roboto";
}

/* start of page content */
.logo-container {
  height: content;
  background: #fff;
  box-shadow: 0 2px 5px rgba(30, 29, 29, 0.15);
  position: relative;
  padding: 7.5% 0 5%;
}
.logo-container .header-logo {
  width: 160px;
  display: block;
  margin: auto;
}

.location {
  height: 3em;
  background: #eaeaea;
  color: #353535;
  text-align: center;
  line-height: 3em;
}
.location i {
  font-size: 1em;
  margin-right: 2.5%;
}

main {
  width: 100%;
}

.hero {
  background: #f6f6f6;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10% 5%;
}
.hero .container h1 {
  max-width: 250px;
  margin-bottom: 5%;
}
.hero .container p {
  max-width: 310px;
  font: 300 1.125em "Roboto";
  margin-bottom: 10%;
}
.hero .container .hero-btn {
  margin-bottom: 5%;
}

.howto {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 5%;
  margin: 15% 0;
}
.howto h1 {
  margin-bottom: 2.5%;
}
.howto-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: space-between;
  flex-wrap: wrap;
  counter-reset: list-number;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  margin: 2.5% 0;
}
.list-item .fa-solid {
  width: 1.3em;
  text-align: center;
  color: #7e7e7e;
  font-size: 1.2em;
}
.list-item .fa-solid.fa-store {
  color: #9356dc !important;
}
.list-item.item3 {
  background: #f2eafb !important;
}
.list-item::before {
  counter-increment: list-number;
  content: counter(list-number);
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  color: white;
  font: 700 0.875em "Roboto";
  line-height: 24px;
  background: #9356dc;
  border-radius: 50%;
  margin-left: -12px;
}

/* to make viewing in the inspector easier > to change later */
.card__photo {
  max-width: 10%;
}