/* VENDOR - Default fall-backs and external files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
/* SCSS Files */
/* general styles */
/* margins and padding */
/* colors */
/* shadows, ombres */
/* fonts */
/* transitions */
a.button {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

a.button:hover {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#loading-screen .load-items .anticlockwise, #loading-screen .load-items .clockwise, #loading-screen .load-items .spinner img {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.list-item, .section-title {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.25, 1);
          animation-timing-function: cubic-bezier(0.55, 0, 0.25, 1);
}

/* general icon styling for proper display */
.check, .like-btn .heart, .header-container .nav-home {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a.button {
  background: linear-gradient(175deg, #ff79da, #9356dc);
  padding: 0.5em 1.5em;
  border-radius: 40px;
  font: 500 1rem "Roboto";
  line-height: 40px;
  text-align: center;
  box-shadow: 2px 3px 10px rgba(30, 29, 29, 0.15);
}

.list-item, .howto-item {
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 3px 10px rgba(30, 29, 29, 0.15);
  background: #fff;
}

.r-card {
  width: 100%;
  height: 225px;
  background: #fff;
  border-radius: 15px;
  margin: 0;
  box-shadow: 2px 3px 10px rgba(30, 29, 29, 0.15);
}

/* positioning for 'like' button */
.like-btn .heart {
  width: 32px;
  height: 32px;
}

/* colors */
/* shadows, ombres */
/* fonts */
/* transitions */
a.button {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

a.button:hover {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#loading-screen .load-items .anticlockwise, #loading-screen .load-items .clockwise, #loading-screen .load-items .spinner img {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.list-item, .section-title {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.25, 1);
          animation-timing-function: cubic-bezier(0.55, 0, 0.25, 1);
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font: 700 1.5rem "Roboto";
  margin-bottom: 5%;
}

h2 {
  font: 700 1.125rem "Roboto";
}

h3 {
  font: 300 1.0625rem "Roboto";
}

/* loading screen w/spinner */
#loading-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  z-index: 50;
  display: flex;
  flex-direction: center;
  justify-content: center;
  -webkit-animation: fadeout;
          animation: fadeout;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 0.6, 0.95);
          animation-timing-function: cubic-bezier(0.5, 0.05, 0.6, 0.95);
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#loading-screen .load-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30%;
}
#loading-screen .load-items .spinner {
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 150px;
  margin-bottom: 10%;
}
#loading-screen .load-items .spinner img {
  filter: invert(100%);
  width: 150px;
  height: 150px;
  display: block;
  grid-area: 1/1/2/2;
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#loading-screen .load-items .clockwise {
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
#loading-screen .load-items .anticlockwise {
  animation-direction: reverse;
}
#loading-screen .load-items .logo-loading {
  filter: invert(100%);
  width: 200px;
}

/* start of page content */
.header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  box-shadow: 0 2px 5px rgba(30, 29, 29, 0.15);
  padding: 5%;
  padding-top: 7.5%;
}
.header-container .logo-header {
  width: 35%;
}
.header-container .nav-home {
  font-size: 1.5rem;
  color: #353535;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.header-container .nav-home:hover {
  background: linear-gradient(175deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.75rem;
}

.location {
  height: 3em;
  background: #eaeaea;
  color: #353535;
  text-align: center;
  line-height: 3em;
}
.location i {
  font-size: 1em;
  margin-right: 15px;
  margin-left: -2.5%;
}

main {
  width: 100%;
}

/* home page */
.hero {
  background: #f6f6f6;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10% 5%;
}
.hero-container h1 {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.hero-container p {
  max-width: 350px;
  font: 300 1rem "Roboto";
  margin: 2.5% auto 10% auto;
}

a.button:hover {
  filter: opacity(90%);
  box-shadow: 2px 3px 10px rgba(30, 29, 29, 0.5);
}

.howto {
  padding: 15% 5%;
}

.howto-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  counter-reset: list-number;
  gap: 30px;
  padding: 0;
}

.howto-item {
  flex: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 12px);
  line-height: 2rem;
  background-color: #f6f6f6;
  margin: 0;
}
.howto-item .fa-solid {
  width: 1.3em;
  color: #7d7d7d;
  font-size: 1.2rem;
  margin: 0 15px;
}
.howto-item .fa-solid.fa-store {
  color: #9356dc;
}
.howto-item.item3 {
  background: #f2eafb;
}

.howto-item::before {
  counter-increment: list-number;
  content: counter(list-number);
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  color: #fff;
  font: 700 0.875rem "Roboto";
  line-height: 24px;
  background: #9356dc;
  border-radius: 50%;
  margin-left: -12px;
}

#restaurants {
  background: #f6f6f6;
  padding: 15% 5%;
}
#restaurants .cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.r-card {
  flex: none;
  position: relative;
}
.r-card:hover {
  transform: scale(102%);
  box-shadow: 2px 3px 10px rgba(30, 29, 29, 0.5);
}
.r-card:active {
  transform: scale(100%);
}

.r-card_content {
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.r-card_content .photo-tag {
  position: absolute;
  padding: 5px 12px;
  background: #99e2d0;
  color: #008766;
  border-radius: 2px;
  top: 5%;
  right: 5%;
  font: 500 0.875rem "Roboto";
  z-index: 1;
}
.r-card_content .r-photo {
  width: 100%;
  height: 150px;
}
.r-card_content .r-photo.pos1 {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
.r-card_content .r-photo.pos2 {
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
}
.r-card_content .r-photo.pos3 {
  -o-object-position: 50% 90%;
     object-position: 50% 90%;
}
.r-card_content img.r-photo {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 0;
}
.r-card_content .r-footer {
  padding: 15px;
  color: #000;
  position: relative;
}
.r-card_content .r-footer h2 {
  margin-bottom: 4px;
}

.like-btn .floating {
  display: block;
  position: absolute;
  bottom: 19px;
  right: 7.5%;
}
.like-btn .heart {
  line-height: 32px;
  display: grid;
  grid-template-columns: 32px;
  grid-template-rows: 32px;
}
.like-btn .fa-heart {
  display: flex;
  margin: auto;
  line-height: 32px;
}
.like-btn .far {
  grid-area: 1/1/2/2;
  font-size: 28px;
  color: #000;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.like-btn .fas {
  grid-area: 1/1/2/2;
  font-size: 30px;
  background: linear-gradient(5deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition-delay: 0.1s;
  transition: all 0.5s ease-in-out;
}
.like-btn a:focus,
.like-btn a:visited {
  transform: scale(1);
}
.like-btn a:hover .fas {
  opacity: 1;
  font-size: 32px;
  line-height: 32px;
}
.like-btn a:focus .fas,
.like-btn a:visited .fas {
  opacity: 1;
  font-size: 30px;
  outline-color: 1px solid #fff;
}
.like-btn a:hover .far,
.like-btn a:focus .far {
  opacity: 0;
}

footer {
  background: #353535;
  padding: 5%;
  padding-bottom: 7.5%;
  margin: 0;
}
footer .footer-logo {
  filter: invert(100%);
  width: 30%;
  margin-bottom: 2.5%;
}
footer ul.footer-list {
  list-style: none;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
}
footer ul.footer-list .link i {
  width: 20px;
  font-size: 0.9em;
  margin-right: 1%;
}
footer ul.footer-list a {
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
footer ul.footer-list a:hover {
  font-size: 1.05em;
  background: linear-gradient(5deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer ul.footer-list a:active {
  font-size: 1.1em;
  color: #9356dc;
}

/* >>>> for restaurant pages <<<< */
.menu-header {
  width: 100%;
  min-width: 190px;
}
.menu-header .header-photo {
  width: 100%;
  height: 100%;
}
.menu-header .header-photo img {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: 30% 50%;
     object-position: 30% 50%;
  margin-bottom: -50px;
  z-index: -1;
}

.menu-title {
  padding: 5%;
  padding-bottom: 0;
  background: #eaeaea;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-title h1 {
  font: 1.7rem "Shrikhand";
  font-kerning: none;
}

.menu {
  max-width: 100%;
  overflow-x: hidden;
  background: #eaeaea;
  padding: 0 5%;
}

.menu-section {
  margin-bottom: 10%;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    transform: translatex(200px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translatex(200px);
  }
  100% {
    opacity: 1;
  }
}
.section-title {
  height: 30px;
  margin: 20px 0;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  position: relative;
}
.section-title > h2 {
  font: 300 1rem "Roboto";
  text-transform: uppercase;
}
.section-title .line {
  background: #99e2d0;
  height: 3px;
  width: 45px;
  border: none;
  position: absolute;
  left: 0;
  margin: 5px 0 0 0;
}

.menu-list {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.list-item {
  width: 100%;
  margin: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.55, 0, 0.45, 1);
}
.list-item:nth-child(1) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.list-item:nth-child(2) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.list-item:nth-child(3) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.list-item:nth-child(4) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.list-item:nth-child(5) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
.list-item:nth-child(6) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.list-item:nth-child(7) {
  -webkit-animation-delay: 2.45s;
          animation-delay: 2.45s;
}
.list-item:nth-child(8) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
.list-item:nth-child(9) {
  -webkit-animation-delay: 3.15s;
          animation-delay: 3.15s;
}
.list-item:nth-child(10) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.list-item:nth-child(11) {
  -webkit-animation-delay: 3.85s;
          animation-delay: 3.85s;
}
.list-item:nth-child(12) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}
.list-item:hover {
  cursor: pointer;
}
.list-item:hover .check {
  display: flex;
  flex: 20%;
  max-width: 60px;
  transform: translateX(0px);
}
.list-item:hover .item-info {
  flex: 80%;
}
.list-item:hover .fa-circle-check {
  transform: rotate(360deg);
}

.check {
  width: 0px;
  height: 70px;
  background-color: #99e2d0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0;
  transform: translateX(60px);
  cursor: pointer;
  transition: all 500ms ease-in;
}
.check .fa-circle-check {
  color: white;
  font-size: 25px;
  transform: rotate(90deg);
  transition: 500ms ease-in;
  transition-delay: 150ms;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex: 100%;
  min-width: 0;
  padding: 13px 15px;
  transition: 500ms ease-in;
}
.item-info > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: 5%;
  min-width: 0;
  text-align: left;
}
.item-info p {
  flex-grow: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item-info .name {
  font: 500 1.125rem "Roboto";
}
.item-info .desc {
  font: 300 0.9375rem "Roboto";
}
.item-info .price {
  flex-shrink: 0;
  line-height: 0.9375rem;
}

.cta {
  display: flex;
  flex-direction: center;
  justify-content: center;
  background-color: #eaeaea;
  padding-bottom: 15%;
  padding-top: 2.5%;
}
.cta .button {
  min-width: 40%;
}

/* larger hand-held devices, ie: tablets */
@media only screen and (min-width: 768px) {
  /*** START OF PAGE - MED DEVICES---*/
  body {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-container {
    padding: 2.5%;
    padding-top: 4%;
  }
  .header-container .logo-header {
    width: 20%;
  }
  .header-container .fa-arrow-left {
    font-size: 1.6rem;
  }
  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7.5%;
    text-align: left;
    background: #fff;
  }
  .hero-container .tagline {
    flex: 1 1 70%;
  }
  .hero-container h1 {
    max-width: 100%;
  }
  .hero-container p {
    margin: 0;
  }
  .hero-container .button {
    flex: none;
    margin-bottom: 0;
    margin-left: 5%;
  }
  .howto {
    padding: 5%;
    text-align: center;
    background: radial-gradient(#ff79da, #9356dc);
  }
  .howto h1 {
    margin-bottom: 5%;
    color: white;
  }
  .howto p {
    line-height: 1.2rem;
  }
  .howto .howto-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
  }
  .howto .howto-item {
    flex: 1 1 33%;
    max-width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 3.5% 2.5%;
    margin-bottom: 0;
  }
  .howto .howto-item .fa-solid {
    font-size: 1.8rem;
    color: #353535;
    margin-bottom: 5%;
  }
  .howto .howto-item p {
    font-size: 1rem;
    color: #6023a9;
  }
  .howto-item::before {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    line-height: 30px;
    font-size: 1rem;
    margin-left: 0;
  }
  #restaurants {
    background: #fff;
    padding: 5%;
    max-height: -webkit-min-content;
    max-height: -moz-min-content;
    max-height: min-content;
  }
  #restaurants .restaurants-title {
    margin-bottom: 5%;
  }
  #restaurants .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  #restaurants .r-card {
    flex: 1 1 47%;
    max-width: 48.5%;
    margin: 0;
  }
  footer {
    padding: 5%;
  }
  footer .footer-logo {
    width: 105px;
    margin-bottom: 1.5%;
  }
  footer ul.footer-list {
    line-height: 1.5rem;
  }
  /* for restaurant menu pages */
  .menu-header .header-photo img {
    height: 400px;
    margin-bottom: -84px;
    -o-object-position: 50% 70%;
       object-position: 50% 70%;
  }
  .menu-title {
    padding: 0 5%;
    height: 80px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.75);
    justify-content: flex-start;
  }
  .menu-title h1 {
    font-size: 1.7rem;
    margin: 0;
    margin-right: 5%;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5%;
    padding: 5%;
    padding-bottom: 2.5%;
    max-width: 100%;
  }
  .menu .menu-section {
    flex: 1 0 31%;
    min-width: 29%;
    margin: 0;
  }
  .menu .menu-list {
    margin-top: 5%;
  }
  .cta {
    padding: 5%;
  }
  .cta .button {
    min-width: 100px;
    width: 25%;
  }
}
/* larger screens, ie: desktops */
@media only screen and (min-width: 992px) {
  /*** START OF PAGE - LG DEVICES---*/
  html {
    font-size: 18px;
  }
  .r-card {
    height: 308px;
  }
  .r-card .r-photo {
    height: 220px;
  }
  .r-card .r-footer {
    padding: 20px;
  }
  .r-card .floating {
    bottom: 28px;
  }
  .list-item {
    height: 100px;
  }
  .list-item:hover .check {
    flex: 25%;
    max-width: 80px;
  }
  .check {
    height: 100px;
    transform: translateX(80px);
  }
  .check .fa-circle-check {
    font-size: 30px;
  }
  .item-info {
    padding: 25px 20px;
  }
  img.footer-logo {
    width: 115px;
  }
}
/* xl screens */
@media only screen and (min-width: 1440px) {
  /*** START OF PAGE - xL DEVICES---*/
  html {
    font-size: 24px;
  }
  .hero-container p {
    max-width: 500px;
  }
  .r-card {
    height: 466px;
  }
  .r-card .r-photo {
    height: 350px;
  }
  .r-card .r-footer {
    padding: 25px;
  }
  .r-card .floating {
    bottom: 42px;
  }
  img.footer-logo {
    width: 180px;
  }
}