/* general styles */

/* margins and padding */
$full-width: 100%;
$padding-side: 0 5%;
$size1x: 5%;
$size3-4x: 7.5%;
$size2x: 10%;
$size3x: 15%;
$half: 2.5%;
$gap: 20px;
$gap-big: 30px;
$corner-rad: 15px;

%centered {
  padding: $padding-side;
  margin-left: auto;
  margin-right: auto;
}

@mixin flexbox(
  $flex-direction: false,
  $justify-content: false,
  $align-items: false,
  $gap: false,
  $flex: false
) {
  display: flex;

  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }

  @if $justify-content != false {
    justify-content: $justify-content;
  }

  @if $align-items != false {
    align-items: $align-items;
  }
  @if $gap != false {
    gap: $gap;
  }
}
