/* general styles */

$full-width: 100%;
$padding-side: 0 5%;
$size1x: 5%;
$size2x: 10%;
$size3x: 15%;
$half: 2.5%;
$gap: 30px;
$corner-rad: 15px;

%centered {
	padding: $padding-side;
	margin-left: auto;
	margin-right: auto;
}

%flex-column {
	display: flex;
<<<<<<< HEAD

	@if $flex-direction != false {
		flex-direction: $flex-direction;
	}

	@if $justify-content != false {
		justify-content: $justify-content;
	}

	@if $align-items != false {
		align-items: $align-items;
	}
	@if $gap != false {
		gap: $gap;
	}
=======
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

%flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
>>>>>>> parent of 0e13c16 (v0.5 list and flexbox mixin)
}
