/* general styles */

$full-width: 100%;
$padding-side: 0 5%;
$size1x: 5%;
$size2x: 10%;
$size3x: 15%;
$half: 2.5%;
$gap: 30px;

@mixin width($n: $full-width) {
	width: $n;
}

%centered {
	padding: $padding-side;
	margin-left: auto;
	margin-right: auto;
}

%flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

%flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
