/* VENDOR - Default fall-backs and external files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");

/* SCSS Files */

@import "layout";
@import "components";
@import "base";

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: $font-main;
	font-weight: 500;
}

a,
h1,
h2,
h3,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: $color-base;
}

h1 {
	font: map-get($textstyle, "h1");
	margin-bottom: $half;
}

h2 {
	font: map-get($textstyle, "h2");
}

h3 {
	font: map-get($textstyle, "h3");
}

/* loading screen w/spinner */
#loading-screen {
	width: $full-width;
	min-height: 100vh;
	max-height: 100vh;
	position: fixed;
	background: $color-gradient;
	z-index: 50;
	@include flexbox(center, center);
	animation: fadeout;
	animation-delay: 3s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.5, 0.05, 0.6, 0.95);

	@keyframes fadeout {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
			visibility: hidden;
		}
	}

	.load-items {
		@include flexbox(column, center, center);
		position: fixed;
		top: 30%;

		.spinner {
			display: grid;
			grid-template-columns: 150px;
			grid-template-rows: 150px;
			margin-bottom: $size2x;

			img {
				filter: invert(100%);
				width: 150px;
				height: 150px;
				display: block;
				grid-area: 1 / 1 / 2 / 2;
				@extend %rotate;
			}
		}

		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		.clockwise {
			@extend %rotate;
			animation-direction: normal;
		}

		.anticlockwise {
			@extend %rotate;
			animation-direction: reverse;
		}

		.logo-loading {
			filter: invert(100%);
		}
	}
}

/* start of page content */
.header-container {
	height: 100%;
	@include flexbox(row, center, center);
	background: $color-base;
	position: relative;
	box-shadow: $harsh;
	padding: $size1x;
	padding-top: 7.5%;

	.logo-header {
		width: 40%;
	}

	.nav-home {
		@extend %icon;
		font-size: 1.5rem;
		color: $base-dark;
		position: absolute;
		left: $size1x;
		top: 50%;
		transform: translateY(-50%);
	}
}
.location {
	height: 3em;
	background: $base-light;
	color: $base-dark;
	text-align: center;
	line-height: 3em;

	i {
		font-size: 1em;
		margin-right: 15px;
		margin-left: -$half;
	}
}

main {
	width: $full-width;
}

/* home page */
.hero {
	background: $base-xlight;

	.container {
		@include flexbox(column, space-between, center);
		text-align: center;
		padding: $size2x $size1x;

		h1 {
			max-width: 250px;
		}

		p {
			max-width: 350px;
			font: map-get($textstyle, "tagline");
			margin: $half 0 $size2x 0;
		}
	}
}

a.button {
	@extend %btnstyle;
	margin-bottom: $size1x;
	@extend %transition-out;

	&:hover {
		filter: opacity(90%);
		box-shadow: $accent;
		@extend %transition-in;
	}
}

.howto {
	padding: $size3x $size1x;

	&-list {
		@include flexbox(row, flex-end, space-between);
		flex-wrap: wrap;
		counter-reset: list-number;
	}
}

.list-item {
	flex: none;
	@extend %listitem;
	@include flexbox(row, flex-start, center);
	width: calc(100% - 12px);
	line-height: 2em;
	background-color: $base-xlight;
	margin: $half 0;

	.fa-solid {
		width: 1.3em;
		text-align: center;
		color: $base-med;
		font-size: 1.2em;
		margin: 0 $size1x;

		&.fa-store {
			color: $color-primary;
		}
	}

	&.item3 {
		background: $color-clair;
	}
}

.howto-list > .list-item::before {
	counter-increment: list-number;
	content: counter(list-number);
	width: 24px;
	height: 24px;
	display: inline-flex;
	justify-content: center;
	color: white;
	font: map-get($textstyle, "listnum");
	line-height: 24px;
	background: $color-primary;
	border-radius: 50%;
	margin-left: -12px;
}

#restaurants {
	height: max-content;
	background: $base-xlight;
	padding: $size3x $size1x;

	.cards {
		flex: 1;
		@include flexbox(row, flex-end, space-between);
		flex-wrap: wrap;
	}
}

.card {
	@extend %card;
	position: relative;
}

.resto {
	height: 100%;
	display: block;
	@include flexbox(column, flex-start);
	position: relative;

	.photo-tag {
		position: absolute;
		padding: 5px 12px;
		background: $color-tertiary;
		color: $color-tert-dk;
		border-radius: 2px;
		top: $size1x;
		right: $size1x;
		font: map-get($textstyle, "phototag");
		z-index: 1;
	}

	&__photo {
		width: 100%;
		height: 185px;
	}

	img {
		max-height: 100%;
		object-fit: cover;
		border-top-left-radius: $corner-rad;
		border-top-right-radius: $corner-rad;
		object-position: 50% 60%;
		z-index: 0;
	}

	&__footer {
		padding: 15px;
		height: 75px;
		color: #000;
		@include flexbox(column, space-between);
		position: relative;
	}
}

.like-btn {
	.floating {
		display: block;
		position: absolute;
		bottom: calc((75px - $heart-dim) / 2);
		right: 7.5%;
	}

	.heart {
		@extend %heart-pos;
		@extend %icon;
		line-height: $heart-dim;
		display: grid;
		grid-template-columns: $heart-dim;
		grid-template-rows: $heart-dim;
	}

	.fa-heart {
		display: flex;
	}

	i {
		margin: auto;
		line-height: $heart-dim;
	}

	.far {
		grid-area: 1 / 1 / 2 / 2;
		font-size: 28px;
		color: #000;
		opacity: 1;
		transition: opacity 0.3s ease-out;
	}

	.fas {
		grid-area: 1 / 1/ 2 / 2;
		font-size: 30px;
		background: $gradient-inverse;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		opacity: 0;
		transition-delay: 0.1s;
		transition: all 0.5s ease-in-out;
	}

	a:hover .fas {
		opacity: 1;
		font-size: 32px;
		line-height: 32px;
	}

	a:focus .fas {
		opacity: 1;
	}

	a:hover .far,
	a:focus .far {
		opacity: 0;
	}
}

footer {
	background: $base-dark;
	padding: $size1x $size1x $size2x;
	margin: 0;

	img {
		filter: invert(100%);
		width: 30%;
		margin-bottom: $size1x;
	}

	ul.footer__list {
		list-style: none;
		line-height: 1.75em;
		margin: 0;
		padding: 0;

		.link i {
			width: 20px;
			font-size: 0.9em;
			margin-right: 5px;
		}

		a {
			transition: all 0.2s ease-in-out;
		}

		a:hover {
			font-size: 1.05em;
			background: $gradient-inverse;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		a:active {
			font-size: 1.1em;
			color: $color-primary;
		}
	}
}

/* for restaurant menu pages */
.menu {
	width: $full-width;

	&-photo {
		width: 100%;
	}

	img {
		height: 260px;
		width: 100%;
		object-fit: cover;
		overflow: hidden;
		object-position: 30% 50%;
		margin-bottom: -50px;
		z-index: -1;
	}

	&-title {
		padding: $size1x;
		background: $base-light;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		position: relative;
		z-index: 1;
		@include flexbox(row, space-between, center);

		h1 {
			font: map-get($textstyle, "h1-menu");
		}
	}
}

.carte {
	background: $base-light;
	padding: $padding-side;
	padding-bottom: $size1x;

	> section {
		margin-bottom: $size2x;
	}

	.carte-list {
		@include flexbox(column, space-between);
	}

	.list-item {
		@extend %listitem;
		width: 100%;
	}

	.item {
		width: 100%;
		@include flexbox(column, space-between, stretch);
		padding: $size1x;
		line-height: 1.5rem;
	}

	h2 {
		font: map-get($textstyle, "h2-menu");
		text-transform: uppercase;
		margin-bottom: $size1x;
		position: relative;
	}

	h2::before {
		content: "";
		position: absolute;
		bottom: -8px;
		left: 0;
		border-bottom: 3px solid $color-tertiary;
		width: 40px;
	}

	p.name {
		font: map-get($textstyle, "menu-name");
	}

	p.desc {
		font: map-get($textstyle, "menu-desc");
		display: inline;
	}
	p.price {
		display: inline;
		float: right;
		margin: 0;
	}
}

.cta {
	@include flexbox(center, center);

	a {
		min-width: 40%;
	}
}
