/* VENDOR - Default fall-backs and external files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");

/* SCSS Files */
@import "layout";
@import "components";
@import "base";

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: $font-main;
	font-weight: 500;
}

a,
h1,
h2,
h3,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: $white;
}

h1 {
	font: map-get($textstyle, "h1");
}

h2 {
	font: map-get($textstyle, "h2");
}

h3 {
	font: map-get($textstyle, "h3");
}

/* start of page content */
.logo-container {
	height: content;
	background: $white;
	box-shadow: $harsh;
	position: relative;
	padding: 7.5% 0 $size1x;

	.header-logo {
		width: 160px;
		display: block;
		margin: auto;
	}
}

.location {
	height: 3em;
	background: $color-medium;
	color: $color-dark;
	text-align: center;
	line-height: 3em;

	i {
		font-size: 1em;
		margin-right: $half;
	}
}

main {
	width: $full-width;
}

.hero {
	background: $color-light;

	.container {
		@include flexbox($flex-direction: column, $justify-content: space-between, $align-items: center);
		text-align: center;
		padding: $size2x $size1x;

		h1 {
			max-width: 250px;
			margin-bottom: $size1x;
		}

		p {
			max-width: 310px;
			font: map-get($textstyle, "tagline");
			margin-bottom: $size2x;
		}

		.hero-btn {
			@extend %btnstyle;
			margin-bottom: $size1x;
		}
	}
}

.howto {
	height: max-content;
	padding: $padding-side;
	margin: $size3x 0;

	h1 {
		margin-bottom: $half;
	}

	&-list {
		flex: 1;
		@include flexbox(row, flex-end, space-between);
		flex-wrap: wrap;
		counter-reset: list-number;
	}
}

.list-item {
	@extend %listitem;
	@include flexbox(row, flex-start, center, 5%);
	margin: $half 0;

	.fa-solid {
		width: 1.3em;
		text-align: center;
		color: $color-meddark;
		font-size: 1.2em;

		&.fa-store {
			color: $color-primary !important;
		}
	}

	&.item3 {
		background: $color-clair !important;
	}

	&::before {
		counter-increment: list-number;
		content: counter(list-number);
		width: 24px;
		height: 24px;
		display: inline-flex;
		justify-content: center;
		color: white;
		font: map-get($textstyle, "listnum");
		line-height: 24px;
		background: $color-primary;
		border-radius: 50%;
		margin-left: -12px;
	}
}

/* to make viewing in the inspector easier > to change later */
.card__photo {
	max-width: 10%;
}
