/* VENDOR - Default fall-backs and external files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");

/* SCSS Files */
@import "base";
@import "components";
@import "layout";

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: get-fontsize(reg);
	font-family: $font-main;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: $color-light;
	font-size: get-fontsize(xs);
	margin: 0;
}

h1 {
	font-family: $font-accent;
	font-size: get-fontsize(xl);
}

h2 {
	font-size: get-fontsize(lg);
	font-weight: 700;
}

p {
	margin: 0;
}

header {
	background-color: $color-light;
	text-align: center;

	.header-logo {
		height: 25px;
		margin: 5% 5% 3% 5%;
	}

	.location {
		padding: 4% 0;
		background-color: $color-medium;
		color: $color-dark;

		&-dot::before {
			content: "\f3c5";
			font-size: get-fontsize(reg);
			margin-right: 1%;
		}

		&-text {
			display: inline-block;
			font-size: get-fontsize(reg);
			font-weight: 500;
		}
	}
}

main {
	width: $full-width;
}
.hero {
	@extend %flex-column;
	@extend %centered;
	padding: $padding-side;

	&-text {
		max-width: 80%;
		margin: $margin-std;
	}

	&-btn {
		@extend %btnstyle;
		margin-top: $margin-std;
	}
}

/* to make viewing in the inspector easier > to change later */
.card__photo {
	max-width: 10%;
}
